<% include ../templates/header %>


<div class="container-fluid" id="container-main">
    
    <h1><%= name %></h1>
    <h2>ID: <%= id %></h2>
    <h2>Address: <%= address %></h2>


    <form action="sendSMS" method="post">
        <input type="text" name="phonenumber"/>
        <input type="hidden" name="name" value="<%= name %>"/>
        <input type="hidden" name="address" value="<%= address %>"/>
        <input type="submit" value="Send!"/>
    </form>

    <div class="row">

<% for(var i = 0; i < images.length; i++) { %>

        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                 <img src="<%= images[i] %>" class="img-responsive">
            </a>
        </div>


<% } %>



    </div>
</div>

<% include ../templates/footer %>