<% include ../templates/header %>


<div class="container-fluid" id="container-restaurant">
    
    <div class="row" id="restaurantinfo">
        <div class="col-md-6">
            <h1><a href="<%= url %>" target="_blank"><%= name %></a></h1>
            <h4><a href="http://maps.google.com/?q=<%= addressString.replace(/\n/g, " ") %>" target="_blank">
                <% for(var i = 0; i < addressArray.length; i++) { %>
                    <%= addressArray[i] %><br>
                <% } %>
            </a></h4>
            <button type="button" class="btn btn-default" id='favoriteStar' onclick='toggleFavorites("<%= name %>")'>
                <span class="glyphicon glyphicon-star-empty"  aria-hidden="true"></span>
            </button>

            <script type="text/javascript">
                function toggleFavorites(name) {
                    key = window.location.href;
                    // check if in local storage
                    if (localStorage.getItem(key) === null) {
                        // not in local storage, so add
                        to_store = {
                            'name' : name,
                            'link' : key
                        };
                        localStorage[key] = JSON.stringify(to_store);
                        $('#favoriteStar').find('span').toggleClass('glyphicon-star-empty').toggleClass('glyphicon-star');

                        // toggle the star
                        return;
                    }
                    // is in local storage, so remove
                    localStorage.removeItem(key);
                    $('#favoriteStar').find('span').toggleClass('glyphicon-star-empty').toggleClass('glyphicon-star');

                }

            </script>

            <script>
                    key = window.location.href;
                    console.log('onload');
                    if (localStorage.getItem(key) === null) {
                        // not in local storage, so stay empty
                        console.log('not in storage');
                    } else {
                        $('#favoriteStar').find('span').toggleClass('glyphicon-star-empty').toggleClass('glyphicon-star');
                        console.log('in storage');
                    }
                



            </script>



        </div>

        <div class="col-md-6" id="textform">
            <form action="sendSMS" method="post" class="form-inline">
                <input type="text"
                    placeholder="Enter your phone number."
                    required
                    size="35"
                    name="phonenumber"
                    id="phonenumber"
                    class="form-control"/>
                <input type="hidden" name="name" value="<%= name %>"/>
                <input type="hidden" name="address" value="<%= addressString %>"/>
                <input type="submit" value="Text me this address!" onclick="send_SMS();" class="btn btn-success">
            </form>
        </div>

    </div>

    <div class="row">

    <script type="text/javascript">
        function send_SMS(number) {
            alert("A message is on its way!");
            return true;
    }
</script>

<% for(var i = 0; i < images.length; i++) { %>

        <div class="col-sm-3">
            <a href="<%= images[i] %>" class="thumbnail" data-lightbox="image-1">
                 <img src="<%= images[i] %>" class="img-responsive">
            </a>
        </div>


<% } %>



    </div>
</div>

<% include ../templates/footer %>